root=true

[*.*]
charset=utf-8
end_of_line=lf
max_line_length=140
trim_trailing_whitespace=true
insert_final_newline=true

[*.{txt,md,json,xml,yaml,csproj}]
indent_style=space
indent_size=2

[*.md]
max_line_length=120
trim_trailing_whitespace=false

[*.cs]
indent_style=tab
